let mapleader=" "
set incsearch
set hlsearch
set ignorecase smartcase
set scrolloff=5

set showcmd     "show incomplete cmds down the bottom
set showmode
set relativenumber

set expandtab
set autoindent

set NERDTree
set commentary
set surround
set textobj-entire
set ReplaceWithRegister

set scrolloff=3
set sidescrolloff=7
set sidescroll=1"
set idearefactormode=keep

set system clipboard
set clipboard=unnamed
set clipboard+=ideaput

" set some extensions
set ideajoin
set surround
set multiple-cursors
set commentary

nnoremap zR :action ExpandAllRegions<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap <leader>hp :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>
nnoremap <leader>hu :action Vcs.RollbackChangedLines<cr>

" Find
nnoremap <leader><leader> :action SearchEverywhere<cr>
nnoremap <leader>fa :action FindInPath<cr>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>cv :action ChangeView<cr>
nnoremap <leader>cc :action ToggleFullScreen<cr>
nnoremap <leader>cz :action ToggleZenMode<cr>
nnoremap <esc><esc> :nohls<cr>

" Edit
nnoremap <leader>gc :action Generate<cr>
nnoremap <leader>nc :action NewClass<cr>
nnoremap <leader>ne :action NewElement<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>
nnoremap <leader>ms :action StringManipulation.EditorPopupMenu<cr>
vnoremap <leader>ms :action StringManipulation.EditorPopupMenu<cr>
nnoremap <leader>ta :action Markdown.TableActions<cr>
map <C-[> <Action>(EditorIncreaseFontSize)
map <C-]> <Action>(EditorDecreaseFontSize)

" Replace
vnoremap <leader>fr "hy:%s/<C-r>h//gc<left><left><left>

" Navigate
nnoremap [d :action QuickImplementations<cr>
nnoremap ]d :action QuickImplementations<cr>
nnoremap ]e :action GotoNextError<cr>
nnoremap [e :action GotoPreviousError<cr>

nnoremap <leader>ga :action GotoAction<cr>
nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gs :action GotoSuperMethod<cr>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gt :action GotoTest<cr>
nnoremap <leader>gr :action GotoRelated<cr>
nnoremap <leader>gb :action Annotate<cr>

map <C-n> <Action>(EditorDown)
map <C-p> <Action>(EditorUp)

map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

"nnoremap <C-n> :action SearchEverywhere.NavigateToNextGroup<cr>
"nnoremap <C-p> :action SearchEverywhere.NavigateToPrevGroup<cr>

nnoremap <C-2> :action ExpandAllToLevel2<cr>
nnoremap <C-3> :action ExpandAllToLevel3<cr>

" Format
nnoremap <leader>fs :action ShowReformatFileDialog<cr>
nnoremap <leader>ff :action ReformatCode<cr>
vnoremap <leader>ss :action StringManipulation.Sort<cr>

" Refactor
nnoremap <leader>rq :action Refactorings.QuickListPopupAction<cr>
nnoremap <C-t> :action Refactorings.QuickListPopupAction<cr>
vnoremap <C-t> :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>ic :action InspectCode<cr>
nnoremap <leader>oi :action OptimizeImports<cr>

" Build
nnoremap <leader>bm :action BuildMenu<cr>

" Running
nnoremap <leader>mv :action ActivateMavenProjectsToolWindow<cr>
nnoremap <leader>mm :action Maven.Reimport<cr>
nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>dc :action ChooseDebugConfiguration<cr>
nnoremap <leader>dl :action DebugClass<cr>
nnoremap <leader>rr :action Run<cr>
nnoremap <leader>rl :action RunClass<cr>
nnoremap <leader>st :action Stop<cr>
nnoremap <leader>rc :action ChooseRunConfiguration<cr>
nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
nnoremap <leader>br :action ViewBreakpoints<cr>
nnoremap <leader>ev :action EvaluateExpression<cr>

" Windows
nnoremap <leader>q  :action CloseContent<cr>
nnoremap <leader>z :action MaximizeEditorInSplit<cr>
nnoremap <leader><Space>  :action FileStructurePopup<cr>

nnoremap <leader>mp :action ManageRecentProjects<cr>
nnoremap <leader>cp :action CloseProject<cr>

nnoremap <C-1> :action SelectInProjectView<cr>
nnoremap <C-m> :action EditSourceInNewWindow<cr>

nnoremap <C-S-=> :action SplitVertically<cr>
nnoremap <C-S--> :action SplitHorizontally<cr>
nnoremap <leader>thm :action TypeHierarchyPopupMenu<cr>
nnoremap <leader>th :action TypeHierarchy<cr>


nnoremap <leader>grd :action Git.ResolveConflicts<cr>
nnoremap <leader>gpr :action Github.View.Pull.Request<cr>


nnoremap <leader>aa :action IdeaVim.ReloadVimRc.reload<cr>
nnoremap <leader>ca :%y+<cr>
